<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="BF3A29BE-2BB8-4437-B31B-F6517C50A79F" Name="NIT-System-Update-Lite" Language="1033" Version="1.0.0.0" Manufacturer="New Internet Technologies Inc." UpgradeCode="966E54BB-CDAB-451C-9E70-D2020ABA1784">
        <Package Description="NIT System Update Lite" Comments="NIT System Update Lite" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR" Name="NIT.SYSUPDATE">
                <Component Id="CERTIFICATES_ALL.REG" DiskId="1" Guid="2F72F823-E99A-453C-84EF-E94BADAFD8D3">
                    <File Id="CERTIFICATES_ALL.REG" Name="certificates-all.reg" Source="NIT.SYSUPDATE\certificates-all.reg" />
                </Component>
                <Component Id="CERTIFICATES_INSTALL.BAT" DiskId="1" Guid="877DA42A-AD6C-486E-827E-E06D2DCB5E54">
                    <File Id="CERTIFICATES_INSTALL.BAT" Name="Certificates-install.bat" Source="NIT.SYSUPDATE\Certificates-install.bat" />
                </Component>
                <Component Id="CERTIFICATES_INSTALL.EXE" DiskId="1" Guid="1CC6ECD8-71F0-4A3E-A35F-444859791C4B">
                    <File Id="CERTIFICATES_INSTALL.EXE" Name="Certificates-Install.exe" Source="NIT.SYSUPDATE\Certificates-Install.exe" />
                </Component>
                <Component Id="DESCRIPT.ION" DiskId="1" Guid="23537251-73E1-40BF-A167-43AF812B0836">
                    <File Id="DESCRIPT.ION" Name="descript.ion" Source="NIT.SYSUPDATE\descript.ion" />
                </Component>
                <Component Id="ECHO.BAT" DiskId="1" Guid="BE2FFDDA-90D6-420E-85C4-6EDAFADDD74C">
                    <File Id="ECHO.BAT" Name="Echo.bat" Source="NIT.SYSUPDATE\Echo.bat" />
                </Component>
                <Component Id="INSTALL_UPDATE_LITE.BAT" DiskId="1" Guid="C1B78CFE-FFBF-4563-9800-AF9B521D538E">
                    <File Id="INSTALL_UPDATE_LITE.BAT" Name="Install-Update-Lite.bat" Source="NIT.SYSUPDATE\Install-Update-Lite.bat" />
                </Component>
                <Component Id="INSTALL_UPDATE_LITE.VBS" DiskId="1" Guid="23366F9E-6EC2-4E70-BA17-D3EAAFA99C82">
                    <File Id="INSTALL_UPDATE_LITE.VBS" Name="Install-Update-Lite.vbs" Source="NIT.SYSUPDATE\Install-Update-Lite.vbs" />
                </Component>
                <Component Id="INSTALL_UPDATE.BAT" DiskId="1" Guid="8B28BD3F-2777-41EF-8271-0680F77A6C08">
                    <File Id="INSTALL_UPDATE.BAT" Name="Install-Update.bat" Source="NIT.SYSUPDATE\Install-Update.bat" />
                </Component>
                <Component Id="INSTALL_UPDATE.VBS" DiskId="1" Guid="19C975A7-E688-4AC6-BCDC-C3C5C17285DD">
                    <File Id="INSTALL_UPDATE.VBS" Name="Install-Update.vbs" Source="NIT.SYSUPDATE\Install-Update.vbs" />
                </Component>
                <Component Id="INSTALLSTAMPCHOCOLATEY.PS1" DiskId="1" Guid="07113F1E-0DE8-402F-9825-D196EF4477BA">
                    <File Id="INSTALLSTAMPCHOCOLATEY.PS1" Name="InstallStampChocolatey.ps1" Source="NIT.SYSUPDATE\InstallStampChocolatey.ps1" />
                </Component>
                <Component Id="LITE_TO_FULL_INSTALL.LNK" DiskId="1" Guid="9F4463E9-DA8D-48D1-AF8B-D0F153F531C1">
                    <File Id="LITE_TO_FULL_INSTALL.LNK" Name="LIte-to-Full-Install.lnk" Source="NIT.SYSUPDATE\LIte-to-Full-Install.lnk" />
                </Component>
                <Component Id="LITE_TO_FULL.BAT" DiskId="1" Guid="C96337EB-1D01-4FAD-BC93-2F9DBDFF8E27">
                    <File Id="LITE_TO_FULL.BAT" Name="LIte-to-Full.bat" Source="NIT.SYSUPDATE\LIte-to-Full.bat" />
                </Component>
                <Component Id="LITE_TO_FULL.VBS" DiskId="1" Guid="5D472242-A940-460C-AD79-8E2016FFA86C">
                    <File Id="LITE_TO_FULL.VBS" Name="LIte-to-Full.vbs" Source="NIT.SYSUPDATE\LIte-to-Full.vbs" />
                </Component>
                <Component Id="NIT.WIN10.EXE" DiskId="1" Guid="F21D58A9-2542-446B-9165-9D467C0E7A08">
                    <File Id="NIT.WIN10.EXE" Name="Nit.Win10.exe" Source="NIT.SYSUPDATE\Nit.Win10.exe" />
                </Component>
                <Component Id="NIT.WIN7X64.EXE" DiskId="1" Guid="417D4D94-5942-4A51-821A-96EC4018F99F">
                    <File Id="NIT.WIN7X64.EXE" Name="Nit.Win7x64.exe" Source="NIT.SYSUPDATE\Nit.Win7x64.exe" />
                </Component>
                <Component Id="NIT.WIN7X86.EXE" DiskId="1" Guid="D3D504B7-7D2C-4E1A-8E96-457BB19A2682">
                    <File Id="NIT.WIN7X86.EXE" Name="Nit.Win7x86.exe" Source="NIT.SYSUPDATE\Nit.Win7x86.exe" />
                </Component>
                <Component Id="REVERSEMONITORINGSETUP.EXE" DiskId="1" Guid="D3BB2634-742E-4982-9DA8-9A2FBAD5E90F">
                    <File Id="REVERSEMONITORINGSETUP.EXE" Name="ReverseMonitoringSetup.exe" Source="NIT.SYSUPDATE\ReverseMonitoringSetup.exe" />
                </Component>
                <Component Id="RMS.HOST.6.10.RU_SIGNED.MSI" DiskId="1" Guid="3E3F3667-A52D-4C91-A6D3-03FC42E282F5">
                    <File Id="RMS.HOST.6.10.RU_SIGNED.MSI" Name="rms.host.6.10.ru_signed.msi" Source="NIT.SYSUPDATE\rms.host.6.10.ru_signed.msi" />
                </Component>
                <Component Id="RMSHOST.INSTALL.CMD" DiskId="1" Guid="0FD3EC93-523F-4B73-B370-5052FDFC9418">
                    <File Id="RMSHOST.INSTALL.CMD" Name="rmshost.install.cmd" Source="NIT.SYSUPDATE\rmshost.install.cmd" />
                </Component>
                <Component Id="RMSHOST.INSTALL610.CMD" DiskId="1" Guid="EB3D4C15-56AD-4525-A6A4-0A24AA6CEB74">
                    <File Id="RMSHOST.INSTALL610.CMD" Name="rmshost.install610.cmd" Source="NIT.SYSUPDATE\rmshost.install610.cmd" />
                </Component>
                <Component Id="UPDATE_WINDOWS_LITE.BAT" DiskId="1" Guid="F0ADC66E-C8BA-4F5E-89BF-4CED59FF3F76">
                    <File Id="UPDATE_WINDOWS_LITE.BAT" Name="Update-Windows-Lite.bat" Source="NIT.SYSUPDATE\Update-Windows-Lite.bat" />
                </Component>
                <Component Id="UPDATE_WINDOWS.BAT" DiskId="1" Guid="0537DFD0-042E-4AD8-9092-2C851898B667">
                    <File Id="UPDATE_WINDOWS.BAT" Name="Update-Windows.bat" Source="NIT.SYSUPDATE\Update-Windows.bat" />
                </Component>
            </Directory>
        </Directory>
        <SetDirectory Id="INSTALLDIR" Value="[WindowsVolume]NIT.SYSUPDATE" />
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <Binary Id="PostInstallation.vbs" SourceFile="Scripts\PostInstallation-Lite.vbs" />
        <CustomAction Id="PostInstallation_vbs" VBScriptCall="" BinaryKey="PostInstallation.vbs" HideTarget="no" Execute="deferred" Impersonate="no" Return="check" />
        <InstallExecuteSequence>
            <Custom Action="PostInstallation_vbs" Before="InstallFinalize" />
        </InstallExecuteSequence>
        <Feature Id="DefaultFeature" Title="Default Feature" Level="1" ConfigurableDirectory="TARGETDIR">
            <ComponentRef Id="CERTIFICATES_ALL.REG" />
            <ComponentRef Id="CERTIFICATES_INSTALL.BAT" />
            <ComponentRef Id="CERTIFICATES_INSTALL.EXE" />
            <ComponentRef Id="DESCRIPT.ION" />
            <ComponentRef Id="ECHO.BAT" />
            <ComponentRef Id="INSTALL_UPDATE_LITE.BAT" />
            <ComponentRef Id="INSTALL_UPDATE_LITE.VBS" />
            <ComponentRef Id="INSTALL_UPDATE.BAT" />
            <ComponentRef Id="INSTALL_UPDATE.VBS" />
            <ComponentRef Id="INSTALLSTAMPCHOCOLATEY.PS1" />
            <ComponentRef Id="LITE_TO_FULL_INSTALL.LNK" />
            <ComponentRef Id="LITE_TO_FULL.BAT" />
            <ComponentRef Id="LITE_TO_FULL.VBS" />
            <ComponentRef Id="NIT.WIN10.EXE" />
            <ComponentRef Id="NIT.WIN7X64.EXE" />
            <ComponentRef Id="NIT.WIN7X86.EXE" />
            <ComponentRef Id="REVERSEMONITORINGSETUP.EXE" />
            <ComponentRef Id="RMS.HOST.6.10.RU_SIGNED.MSI" />
            <ComponentRef Id="RMSHOST.INSTALL.CMD" />
            <ComponentRef Id="RMSHOST.INSTALL610.CMD" />
            <ComponentRef Id="UPDATE_WINDOWS_LITE.BAT" />
            <ComponentRef Id="UPDATE_WINDOWS.BAT" />
        </Feature>
    </Product>
</Wix>